// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

html {
  overflow-x: hidden;
}

.flip {
  transform: rotate3d(0, 1, 0, 180deg);
}

.of-hidden {
  overflow: hidden;
}

.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 4px;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 2px;
  text-shadow: -1px 0 #ff01d6;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -2px;
  text-shadow: 1px 0 #00d8ff;
}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% { @include rect(42px, 44px); }
  5% { @include rect(12px, 59px); }
  10% { @include rect(48px, 29px); }
  15.0% { @include rect(42px, 73px); }
  20% { @include rect(63px, 27px); }
  25% { @include rect(34px, 55px); }
  30.0% { @include rect(86px, 73px); }
  35% { @include rect(20px, 20px); }
  40% { @include rect(26px, 60px); }
  45% { @include rect(25px, 66px); }
  50% { @include rect(57px, 98px); }
  55.0% { @include rect(5px, 46px); }
  60.0% { @include rect(82px, 31px); }
  65% { @include rect(54px, 27px); }
  70% { @include rect(28px, 99px); }
  75% { @include rect(45px, 69px); }
  80% { @include rect(23px, 85px); }
  85.0% { @include rect(54px, 84px); }
  90% { @include rect(45px, 47px); }
  95% { @include rect(37px, 20px); }
  100% { @include rect(4px, 91px); }
}

@keyframes glitch-animation-2 {
  0% { @include rect(65px, 100px); }
  5% { @include rect(52px, 74px); }
  10% { @include rect(79px, 85px); }
  15.0% { @include rect(75px, 5px); }
  20% { @include rect(67px, 61px); }
  25% { @include rect(14px, 79px); }
  30.0% { @include rect(1px, 66px); }
  35% { @include rect(86px, 30px); }
  40% { @include rect(23px, 98px); }
  45% { @include rect(85px, 72px); }
  50% { @include rect(71px, 75px); }
  55.0% { @include rect(2px, 48px); }
  60.0% { @include rect(30px, 16px); }
  65% { @include rect(59px, 50px); }
  70% { @include rect(41px, 62px); }
  75% { @include rect(2px, 82px); }
  80% { @include rect(47px, 73px); }
  85.0% { @include rect(3px, 27px); }
  90% { @include rect(26px, 55px); }
  95% { @include rect(42px, 97px); }
  100% { @include rect(38px, 49px); }
}

.btn-white {
  background-color: white;
}

.icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
}

.layers {
  position: absolute;
  display: block;
}

.icon-default {
  transition: opacity .3s, transform .3s;
}

.icon-hover {
  transition: opacity .3s, transform .3s;
  transform: rotate(-180deg) scale(.5);
  opacity: 0;
}

.icons:hover {

  .icon-hover {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  .icon-default {
    transform: rotate(180deg) scale(.5);
    opacity: 0;
  }
}

.title1 {
  font-size: 60px !important;
}

.sub-title1 {
  font-size: 20px !important;
}

.navbar-brand img {
  height : 3rem;
}

.anticlockwise-90 {
  transform: rotate(-90deg);
}

.fullscreen {
  height: 100vh;
}

.mt-6 {
  margin-top: 5rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-6 {
  margin-right: 5rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pl-6 {
  padding-left: 5rem;
}

.pr-6 {
  padding-right: 5rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-cover {
  background-size:cover;
}

.font-Kanit {
  font-family: 'Kanit', sans-serif;
}

.font-UnifrakturMaguntia {
  font-family: 'UnifrakturMaguntia', cursive; font-size: 7vw;
}

.my-lg {
  margin-top: 0;
  margin-bottom: 0;
}

.fullscreen-lg {
  height: auto;
}

.rm-mb-lg {
  margin-bottom:85px;
}

.console__btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
}

.rm-my-lg {
  margin-bottom: 85px;
  margin-top: 85px;
}

.cover {
  overflow-y:hidden;
  overflow-x: hidden;
  white-space: nowrap;
  height: 150px;
  margin: 0;
}

.scroll {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2095px, 0);
  }
}

.languages-square {
  height: 150px;
  display: inline-block;
  margin-right: -5px;
  width: 150px;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.content1 {
  font-size: 15px !important;
}

.content2 {
  font-size: 14px !important;
}

.contact-linked-in {
  text-decoration:none;
  color: white;
  transition: 0.5s !important;
}

.contact-linked-in:hover {
  text-decoration:none;
  color: #007dff;
}

.contact-github {
  text-decoration:none;
  color: white;
  transition: 0.5s !important;
}

.contact-github:hover {
  text-decoration:none;
  color: #ff3a00;
}

.contact-insta {
  text-decoration:none;
  color: #ffffff;
  transition: 0.5s !important;
}

.contact-insta:hover {
  text-decoration:none;
  color: #f600ff;

}

.pic-me-card {
  height: calc(200vw/3);
}

.pic-me {
  position:relative;
  top:2rem;
  left:0;
}

.footer-text {
 margin-top: 3rem;
}

.hands {
  animation: hands-up 1s infinite;
  margin-top: 6rem;
}

@keyframes hands-up {
  0% {
    margin-top: 6rem;
  }
  50% {
    margin-top: 1rem;
  }
  100% {
    margin-top: 6rem;
  }
}

.navbar-nav {
  height: 100vh;
  align-items: center;
  font-size: 1.5rem;
}

.bg-dark-collapsed {
  background-color: rgba(0, 0, 0, .9);
}

.bg-light-collapsed {
  background-color: rgba(255, 255, 255, .9);
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 0.9rem;
}

.progress {
   height: 1px !important;
  background-color: black !important;
  transition: 0.3s !important;
}

.sticky-top:hover {
  .progress {
    height: 10px !important;
    background-color: black !important;
  }
}

.progress-bar {
  background-color: #ff7e00 !important;
  transition: 0ms !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cover {
    overflow-y:hidden;
    overflow-x: hidden;
    white-space: nowrap;
    height: 200px;
    margin: 0;
  }

  .pic-me {
    position:relative;
    top:3rem;
    left:0;
  }

  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-2795px, 0);
    }
  }

  .languages-square {
    height: 200px;
    display: inline-block;
    margin-right: -5px;
    width: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .title1 {
    font-size: 80px !important;
  }

  .sub-title1 {
    font-size: 25px !important;
  }

  .pic-me-card {
    height: calc(100vw/3);
  }

  .pic-me {
    position:relative;
    top:2rem;
    left:0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .navbar-nav {
    height: auto;
    align-items: center;
    display: inline;
    padding-top: 0;
    font-size: initial;
  }

  .my-lg {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .fullscreen-lg {
    height: 100vh;
  }

  .rm-mb-lg {
    margin-bottom:0;
  }

  .rm-my-lg {
    margin-bottom: 0;
    margin-top: 0;
  }

  .content1 {
    font-size: 20px !important;
  }

  .content2 {
    font-size: 16px !important;
  }

  .pic-me {
    position:relative;
    top:3rem;
    left:0;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fullscreen-xl {
    height: 100vh;
  }
}