// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

.navbar-brand img {
  height : 3rem;
}

.anticlockwise-90 {
  transform: rotate(-90deg);
}

.fullscreen {
  height: 100vh;
}

.mt-6 {
  margin-top: 5rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-6 {
  margin-right: 5rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pl-6 {
  padding-left: 5rem;
}

.pr-6 {
  padding-right: 5rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-cover {
  background-size:cover;
}

.font-Kanit {
  font-family: 'Kanit', sans-serif;
}

.font-UnifrakturMaguntia {
  font-family: 'UnifrakturMaguntia', cursive; font-size: 7vw;
}

.my-lg {
  margin-top: 0;
  margin-bottom: 0;
}

.fullscreen-lg {
  height: auto;
}

.rm-mb-lg {
  margin-bottom:85px;
}

.console__btn {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 7.5px;
  float: left;
}

.rm-my-lg {
  margin-bottom: 85px;
  margin-top: 85px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .my-lg {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .fullscreen-lg {
    height: 100vh;
  }

  .rm-mb-lg {
    margin-bottom:0;
  }

  .rm-my-lg {
    margin-bottom: 0;
    margin-top: 0;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}