<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calogero Prestifilippo</title>
    <link rel="icon" href="/assets/images/Logo-dark.png">
    <link rel="apple-touch-icon" href="/sitefiles/61/9/8/619862/apple-touch-icon.png">

    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Turret+Road:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:300&display=swap" rel="stylesheet">
</head>
